:root {
    --color-principal: #4DBF38;
    --color-secundario: #80D12A;
    --color-fondo: #001F47;
    user-select: none; /* para no poder seleccionar texto*/
}

.scroll {
    overflow-y: scroll;
}
@font-face {
    font-family: "p";
    src: url("../fuentes/Cheesecake.ttf")format('truetype');
}


.mensaje {
    border: solid 1px red;
    border-radius: 10px;
}

.contenedorconadvertencia {
    display: flex;
    align-items: center;
}

.alertaconbordes {
    /* clase para la alerta de sweet alert */
    border: 3px solid var(--color-secundario);
    border-radius: 10px;
}

.contenedordegraficas {
    position: absolute;
    max-height: 90vh;
    padding: 10px;
    max-width: 90%;
    top: 20%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}

.contenedordegraficas>canvas {
    background-color: var(--color-secundario);
    border: solid 1.4px var(--color-principal);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    max-width: 40%;
    max-height: 37vh;
    filter: drop-shadow(10px 10px 5px var(--color-principal));
    transition: 0.2s;
}

.contenedordegraficas>canvas:hover {
    filter: drop-shadow(13px 13px 7px var(--color-principal));
}

.contenedordeganadores {
    gap: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: var(--color-secundario);
}

.ganadores {
    padding: 20px;
    margin: 2px;
    background-image: linear-gradient(45deg, var(--color-principal), var(--color-secundario), var(--color-principal));
    color: var(--color-fondo);
    border-radius: 10px;
    font-size: 30px;
    border: solid var(--color-fondo);
}

body {
    background-color: var(--color-fondo);
    display: flex;
    justify-content: center;
    height: 100vh;
    max-height: 110vh;
    align-items: center;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 0;
}

.encabezado {
    position: sticky;
    top: -22px;
    background-color: var(--color-secundario);
    z-index: 1;
}

.encabezadodeproductosseleccionados {
    position: sticky;
    top: 0px;
    background-color: var(--color-principal);
    border: var(--color-fondo) solid 1px;
}

.encabezadodeproductosseleccionados>th {
    background-color: var(--color-secundario);
}

.encabezado:hover,
.encabezadodeproductosseleccionados:hover {
    filter: contrast(2);

}

.encabezadoprincipal {
    position: sticky;
    top: -20px;
    background-color: var(--color-fondo);
    padding: 7px;
    border-radius: 5px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0.2);
    border: solid var(--color-fondo) 0.9px;
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    align-items: center;

}

input,
select,
.botonconfiguración {
    border: 1px solid var(--color-fondo);
    margin: 10px;
    border-radius: 5px;
    width: 220px;
    height: 40px;
    background-color: var(--color-principal);
    color: var(--color-fondo);
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black;
    transition: .7s;
}


.acredito {
    max-width: 240px;
    position: relative;
    justify-content: center;
}

.acredito .acredito {
    max-width: 30vw;
}

.linkdedescarga {
    background-color: var(--color-principal);
    border-radius: 10px;
    border: 1px solid var(--color-fondo);
    color: var(--color-fondo);
    padding: 10px;
    transition: 0.2s;
}

.linkdedescarga:hover {
    filter: contrast(140%);
    -webkit-box-shadow: 10px 0px 47px -8px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 10px 0px 47px -8px rgba(0, 0, 0, 0.37);
    box-shadow: 10px 0px 47px -8px rgba(0, 0, 0, 0.37);
}

.botonconfiguración {
    text-align: center;
    padding: 5px;
    justify-content: center;
}
.botonconfiguración:hover{
    box-shadow:
        4.4px 5.1px 10px rgba(0, 0, 0, 0.26),
        35px 41px 80px rgba(0, 0, 0, 0.52);
}

input:hover,
input:focus {
    box-shadow:
        4.4px 5.1px 10px rgba(0, 0, 0, 0.26),
        35px 41px 80px rgba(0, 0, 0, 0.52);
}

.accion:hover,
.accion:focus {
    filter: drop-shadow(12px 10px 15px var(--color-fondo));
}

input::placeholder {
    color: var(--color-fondo);
}

input[type="submit"] {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    transition: 1s;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--color-fondo);
}

#ver {
    width: 16px;
    margin: 0 0 0 0;
    height: 16px;
    cursor: pointer;
    transform: translate(+90px, -40px);
    transition: 0.3s;
}

#ver:hover {
    filter: drop-shadow(1px 1px 2px var(--color-fondo));
}

footer {
    color: #ffffff;
    position: absolute;
    bottom: 0px;
    padding: 5px;
    text-align: center;
}

footer>a {
    color: antiquewhite;
    transition: 0.5s;
}

footer>a:hover {
    color: aquamarine;
}

#linea {
    width: 100%;
}

.barralateral {
    background-color: var(--color-secundario);
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0px;
    width: 85px;
    overflow: hidden;
    transition: 1s ease;
    z-index: 1000;
    border-right: 1px solid var(--color-fondo);

}

.barralateral:hover {
    width: 370px;
    /*350 mide el elemento hijo mas los margin de cada lado (10+10) */
    border-right: 3px solid var(--color-fondo);
}

.icono {
    width: 45px;
    height: 45px;
    margin: 15px;
    margin-right: 30px;
}

#codigo {
    font-size: 30px;
    text-align: center;
}

.contenedordeicono {
    display: flex;
    transition: 0.4s;
    margin: 10px;
    padding: 8px;
    height: 8%;
    position: relative;
    overflow: hidden;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    align-items: center;
}

.contenedordeicono>a {
    align-items: center;
    display: flex;
    text-decoration: none;
    min-width: 3000px;
    color: var(--color-fondo);
    transition: .8s;
    height: 100%;
}

.contenedordeicono:hover {
    background-color: var(--color-fondo);
    box-shadow:
        4.4px 5.1px 10px rgba(0, 0, 0, 0.26),
        35px 41px 80px rgba(0, 0, 0, 0.52);
}

.contenedordeicono:hover h2 {
    color: var(--color-secundario)
}

.contenedordeinputs {
    display: flex;
    flex-direction: column;
    border: solid 2px var(--color-fondo);
    border-radius: 13px;
}

.contenedordepopup {
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}

.popup {
    transition: transform 0.5s ease;
    padding: 20px;
    position: relative;
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    border: solid 1.5px var(--color-fondo);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow:
        3.3px 2.7px 7.6px rgba(0, 0, 0, 0.182),
        11.2px 9.2px 25.7px rgba(0, 0, 0, 0.268),
        50px 41px 115px rgba(0, 0, 0, 0.45);
    z-index: 1000;
    transition: 0.3s ease;
}

.popup>a {
    padding: 10px;
    background-color: var(--color-fondo);
    text-shadow: 1px .5px 1px white;
    color: var(--color-secundario);
    border: solid 1px black;
    border-radius: 10px;
    transition: 0.5s ease-out;
}

.popup>a:hover {
    background-color: var(--color-secundario);
    border: solid 1px var(--color-fondo);
    color: var(--color-fondo);
}


.botoncerrarpopup {
    border-radius: 100%;
    padding: 5px;
    background-color: var(--color-principal);
    color: var(--color-fondo);
    border: solid var(--color-fondo) 0.5px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10px;
    right: 10px;
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    padding: 5px;
    border-radius: 10px;
    max-width: 10%;
    border: black solid 0.5px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    box-shadow:
        3.3px 2.7px 7.6px rgba(0, 0, 0, 0.182),
        11.2px 9.2px 25.7px rgba(0, 0, 0, 0.268),
        50px 41px 115px rgba(0, 0, 0, 0.45);
    z-index: 1;
}

.productoconpocostock {
    border: dotted 3px var(--color-principal);
    border-radius: 10px;
    padding: 5px;
}

.botoncerrar {
    padding: 5px;
    height: 20px;
    margin: 5px;
    border-radius: 4px;
    background-color: red;
    border: solid 1px black;
    color: wheat;
    transition: 0.6s;
}

.logoenformulario {
    height: 40px;
    width: 40px;
    margin: auto auto;
    filter: drop-shadow(0 0 10px var(--color-fondo));
    border-radius: 10px;
    padding: 2px;
}

.textoformulario {
    text-align: center;
    color: var(--color-fondo);
    margin-bottom: 10%;
}

.meolvidelacontraseña {
    max-width: 300px !important;
}

.botoncerrar:hover {
    color: var(--color-secundario);
    background-color: chocolate;
}

tbody {
    transition: 1s;
}

main {
    height: 100vh;
    width: 82vw;
    color: var(--color-secundario);
}

.contenedordemenu {
    align-items: center;
    justify-content: center;
    padding: 20px;
    top: 20%;
    background-color: var(--color-principal);
    border-radius: 10px;
    position: absolute;
    max-height: 70%;
    overflow-y: scroll;
    box-shadow:
        3.8px 3px 3.6px rgba(0, 0, 0, 0.181),
        10.5px 8.3px 10px rgba(0, 0, 0, 0.26),
        25.3px 19.9px 24.1px rgba(0, 0, 0, 0.339),
        84px 66px 80px rgba(0, 0, 0, 0.52);

}

/*PARA UN SCROLL MAS SUAVE*/
.contenedordemenu,
.agregarproductos {
    scroll-behavior: smooth;
}

.cantidaddeelementos {
    text-align: center;
    padding: 7px;
    margin: 2px;
    border-radius: 5px;
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    max-width: max-content;
    border: solid 2.2px var(--color-fondo);
    font-weight: bold;
}

.contenedordedatos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedordedatos>.recargartabla {
    text-align: center;
    padding: 7px;
    margin: 2px;
    border-radius: 5px;
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    max-width: max-content;
    border: solid 2.2px var(--color-fondo);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    /* para no poder seleccionar texto*/
}

.contenedordedatos>.recargartabla:hover {
    background-color: var(--color-fondo);
    color: var(--color-secundario);
}

.contenedordedatos>.recargartabla:active {
    box-shadow:
        3.8px 3px 3.6px rgba(0, 0, 0, 0.181),
        10.5px 8.3px 10px rgba(0, 0, 0, 0.26),
        25.3px 19.9px 24.1px rgba(0, 0, 0, 0.339),
        84px 66px 80px rgba(0, 0, 0, 0.52);
}

.agregarproductos {
    background-color: var(--color-principal);
    border: var(--color-fondo) 1px solid;
    border-radius: 10px;
    max-height: 85%;
    min-height: 40vh;
    max-width: 95%;
    overflow-y: scroll;
    padding: 20px;
}


.agregardato {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: var(--color-fondo) solid 2px;
    color: var(--color-fondo);
    background-color: var(--color-secundario);
    text-align: center;
    font-size: 30px;
    transition: 1s;
}

.agregardato:hover {
    background-color: var(--color-fondo);
    border: var(--color-secundario) solid 2px;
    color: var(--color-secundario);
}

.buscador {
    position: absolute;
    top: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--color-principal);
    border: var(--color-secundario);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.contenedordebuscadoryboton {
    display: flex;
    align-items: center;
}

.tresinputs {
    position: absolute;
    top: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--color-principal);
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.subcontenedor {
    border-radius: 15px;
    background-color: var(--color-principal);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin: 10px;
}


.enlacesdebuscador {
    border: 1px solid var(--color-fondo);
    margin: 10px;
    border-radius: 10px;
    background-color: var(--color-principal);
    color: var(--color-fondo);
    padding: 20px;
    font-size: 20px;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black;
    transition: 1s;
}

.enlacesdebuscador:hover {
    box-shadow:
        4.4px 5.1px 10px rgba(0, 0, 0, 0.26),
        35px 41px 80px rgba(0, 0, 0, 0.52);
}



table {
    font-size: 20px;
    text-align: center;
    border: solid var(--color-fondo);
    border-radius: 10px;
    max-width: 80vw;
    border-collapse: collapse;
}

.accion {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.formularios {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    border-radius: 10px;
    padding: 25px;
    align-items: center;
    text-align: center;
    max-height: 80%;
    max-width: 60%;
    margin: 10px;
    overflow: hidden;
    box-shadow: 11px 10px 15px rgba(0, 0, 0, 0.15);
}

.compra-venta {
    justify-content: right;
    max-height: 90%;
    max-width: 80%;
    display: flex;
    overflow: hidden;
}

.compra-venta>form {
    display: flex;
    justify-content: center;
}

.compra-venta> {
    overflow: scroll;
    overflow-x: hidden;
}

.botonenlace {
    border-radius: 3px;
    min-width: fit-content;
    background-color: var(--color-secundario);
    border: solid 1px var(--color-fondo);
    color: var(--color-fondo);
    padding: 2.5px;
    font-size: 110%;
    transition: 0.9s;
}

.agregarproducto {
    border-radius: 5px;
    background-color: var(--color-secundario);
    border: solid 1px var(--color-fondo);
    color: var(--color-fondo);
    padding: 5px 10px;
    font-size: 100%;
    transition: 0.9s;
}
.decimal{
    text-align: end;
}
.agregarproducto:hover,
.botonenlace:hover {
    background-color: var(--color-fondo);
    border: var(--color-principal);
    color: var(--color-secundario);
}

.enlace {
    color: var(--color-principal);
}
.contenedordeproductos>.agregarproductos {
    min-height: fit-content;
    min-width: fit-content;
    font-size: 16px;
}
.contenedordeproductos{
    min-width:min-content;
}
.contenedordeproductos .agregarproductos .tabladeprductosagregados{
    max-width: max-content;
}

.contenedordeproductos {
    max-height: 60%;
    max-width: 280px;
    left: 50%;
    overflow-y: auto;
}

td,
th {
    border: 2px solid var(--color-fondo);
    padding: 5px;
    text-align: center;
    color: var(--color-fondo);
}

td>a {
    color: var(--color-fondo);
}

#prod {
    border-radius: 5px;
    width: 70px;
    height: 70px;
    transition: 0.3s ease;
    cursor: crosshair;
    object-fit: cover;
    z-index: -1;
}

#prod:hover {
    transform: scale(2);
    z-index: 4;
}

tr {
    transition: 0.3s;
}

tr:hover {
    background-color: var(--color-secundario);
    color: var(--color-fondo);
}

.fotoperfil {
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px var(--color-fondo);
    object-fit: cover;
}
#reg {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: var(--color-secundario);
    color: black;
    border: solid 1px black;
    border-radius: 5px;
    font-family: "p";
    text-decoration: none;
    padding: 5px;
    font-size: 25px;
    z-index: 1;
    -webkit-box-shadow: 10px 9px 24px -4px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 10px 9px 24px -4px rgba(0, 0, 0, 0.62);
    box-shadow: 10px 9px 24px -4px rgba(0, 0, 0, 0.62);
}

.inputdecantidadesdeproductos {
    max-width: 55px;
}

.barrasuperior {
    overflow: hidden;
    position: absolute;
    top: 0px;
    margin: 0px;
    left: 0px;
    width: 100vw;
    z-index: -1;
}

.contenedordesubcontenedores {
    display: flex;
}

.subcontenedores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkk {
    font-size: 13px;
    font-weight: bold;
    margin: 4px;
    padding: 0px;
}



.contenedoresenmenuprincipal {
    display: flex;
    gap: 20px;
}

.contenedoresenmenuprincipal>div {
    margin-left: 30px;
    border: solid var(--color-secundario);
    border-radius: 10px;
    max-width: 30%;
    padding: 20px;
    top: 20%;
    margin: 10px;
    max-height: 60vh;
    overflow-y: scroll;
    padding: 20px;
    border: 1px solid var(--color-principal);
}

.contenedordecumpleañeros {
    left: 20%;
}


main {
    margin-left: 5%;
}

.botonbarralateral {
    transform: scale(0);
    position: fixed;
    top: 10px;
    left: 10px;
    transition: 0.5s;
}

.botonbarralateral:hover {
    cursor: pointer;
    filter: drop-shadow(2px 2px 5px var(--color-principal));
}

.cerrarbarralateral {
    transform: scale(0);
    padding: 10px;
    background-color: var(--color-fondo);
    color: var(--color-secundario);
    border: var(--color-principal);
    border-radius: 100%;
    transition: 0.4s;
}

.cerrarbarralateral:hover {
    transform: scale(1.1);
}

.alertas {
    background: var(--color-fondo) !important;
    color: var(--color-principal) !important;
    border: 1px solid var(--color-secundario) !important;
    border-radius: 20px;
}


.tablabajolostresinputs {
    top: 28% !important;
    max-height: 65% !important;
}

.contenedordetitulos {
    max-height: 20vh;
}

.contenedordetitulos>h1 {
    font-size: 200%;
    max-height: 20%;
    overflow: hidden;
    color: var(--color-principal);
    text-shadow: -1px -1px 1px var(--color-secundario);
}

.contenedordetitulos>h2 {
    font-size: 120%;
    max-height: 20%;
    overflow: hidden;
    color: var(--color-principal);
    text-shadow: -1px -1px 1px var(--color-secundario);
}

.segundoformulario {
    min-width: fit-content;
}

.contenedordeproductos>.segundoformulario {
    min-height: fit-content;
}

@media (max-height: 830px) {
    .tablabajolostresinputs {
        top: 36% !important;
        max-height: 55% !important;
    }

    .contenedoresenmenuprincipal>div {
        max-height: 440px;
    }


    .contenedordeicono {
        padding: 5px;
    }

    .formularioproductos>.contenedordesubcontenedores>.subcontenedores>input,
    .formularioproductos>.contenedordesubcontenedores>.subcontenedores>select {
        padding: 7px;
        margin: 1px;
    }


}

@media (max-height: 780px) {
    .contenedordeicono {
        padding: 4px;
    }

    .contenedordemenu {
        top: 30%;
        max-height: 60%;
        max-width: 80%;
    }

    .icono {
        width: 30px;
        height: 30px;
        margin: 5px;
        margin-right: 60px;
    }

    footer {
        position: relative;
        bottom: -50px;
        margin: 20px;
    }

    .scroll {
        padding-top: 15vh;
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
    }

}

@media (max-height: 700px) {
    .contenedordeicono> {
        max-height: 60px;
    }

    .tresinputs>.subcontenedor {
        margin: 1px;
        padding: 1px;
        font-size: 10%;
    }

    .formularioproductos>.contenedordesubcontenedores>.subcontenedores>input,
    .formularioproductos>.contenedordesubcontenedores>.subcontenedores>select {
        padding: 1px;
        margin: 1px;
        max-height: 30px;
    }

    .contenedordegraficas {
        margin-top: 20px;
        align-items: center;
        position: absolute;
        max-height: none;
    }

    .contenedordegraficas>canvas {
        max-width: 90%;
        max-height: 50vh;
        background-color: var(--color-secundario);
    }
}

@media (max-height: 630px) {
    .contenedordeicono {
        padding: 5px;
    }

    .tablabajolostresinputs {
        top: 45% !important;
        max-height: 45% !important;
    }

    .formularioproductos>.contenedordesubcontenedores>.subcontenedores>input,
    .formularioproductos>.contenedordesubcontenedores>.subcontenedores>select {
        padding: 1px;
        margin: 1px;
        max-height: 20px;
    }
}

@media (max-height: 560px) {
    .contenedordeicono {
        padding: 3px;
    }

    .formularioproductos>h1 {
        margin: 2px;
    }

    .formularioproductos>.contenedordesubcontenedores>.subcontenedores>input,
    .formularioproductos>.contenedordesubcontenedores>.subcontenedores>select {
        max-height: 20px;
    }

}

@media (max-height: 500px) {
    .formularioproductos {
        overflow: scroll;
    }

    .tablabajolostresinputs {
        top: 55% !important;
        max-height: 30% !important;
    }
}

@media (max-height: 400px) {
    .barralateral {
        width: 70px;
    }

    .contenedordeicono {
        padding: 1px;
    }

    .tablabajolostresinputs {
        top: 60% !important;
        max-height: 24% !important;
    }
}



@media (max-width: 1750px) {

    /* EL MENU DE PRODUCTOS NO SE CARGA BIEN*/

    .barralateral {
        transform: translateX(-100%);
    }

    .botonbarralateral {
        transform: scale(1);
    }


    .contenedordemenu>table {
        font-size: 15px;
    }

    .cerrarbarralateral {
        transform: scale(1);
    }
}

@media (max-width: 1300px) {
    .contenedordeproductos {
        max-width: 280px;
    }

    .contenedordeproductos>table,
    .formularios>.agregarproductos>table,
    .formularios>.tabladeprductosagregados>table {
        font-size: 16px;
    }

    .contenedordemenu>table {
        font-size: 11px;
    }

    .formularios>.agregarproductos {
        max-width: 100%;
    }

    .formularios>.tabladeprductosagregados {
        max-width: 70%;
    }
}



@media (max-width:1000px) {
    .contenedoresenmenuprincipal {
        display: flex;
        flex-direction: column;
    }

    .contenedoresenmenuprincipal>div {
        max-height: 20vh;
        max-width: 80vw;
    }
}


@media (max-width:600px) {
    .formularios {
        max-height: 50vh;
    }

    .formularioproductos {
        max-height: 70vh;
    }

    .agregarproductos {
        overflow-x: auto;
    }

    .agregarproductos>table {
        width: 90%;
        border-collapse: collapse;
        min-width: 600px;
        table-layout: fixed;
    }

}

@media (max-width:1366px) and (max-height: 768px) {
    .contenedoresenmenuprincipal {
        max-width: 79vw;
    }

    .formularioproductos {
        overflow-y: auto;
    }

    .formularioproductos>input,
    .formularioproductos>.contenedordesubcontenedores>.subcontenedores>input,
    .formularioproductos>.contenedordesubcontenedores>.subcontenedores>select {
        padding: 5px;
        min-height: 30px;
        max-width: 30vw;
    }
}

@media (max-width:870px) and (max-height: 1280px) {
    #prod {
        height: 50px;
        width: 50px;
    }

    .agregarproductos table {
        font-size: 11px;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        flex-direction: row;
        padding: 10px;
        max-width: 75vw;
    }

    .compra-venta {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        min-height: 200px;
    }

    .formularios {
        padding: 10px;
        max-height: 80vh;
        overflow-y: auto;
        min-height: min-content;
        min-width: fit-content;
    }

    .primerformulario {
        min-width: 80vw;
        min-height: 60vh;
    }

    .segundoformulario h1 {
        position: relative;
        top: 0;
    }



    .segundoformulario {
        padding: 5px;
    }

    .segundoformulario>input,
    .segundoformulario>select {
        padding: 7px;
    }


    .inputdecantidadesdeproductos {
        max-width: 5vw;
        max-height: 2vh;
    }

    .formularioproductos {
        min-width: 70vw;
        margin-top: 100px;
    }

    .tresinputs,
    .contenedordetitulos {
        margin-top: 100px;
    }

    .buscador {
        margin-top: 100px;
        max-width: 90vw;
    }

    .contenedordemenu {
        margin-top: 100px;
        max-height: 65vh;
    }

    .tablabajolostresinputs {
        margin-top: 120px;
    }

    .accion {
        width: 20px;
        height: 20px;
    }

    .contenedoresenmenuprincipal {
        margin-top: 50px;
    }

    .contenedordeganadores {
        min-height: 30vh;
    }

    input,
    select {
        max-width: 35vw;
        padding: 3px;
    }

    .ganadores {
        padding: 7px;
        font-size: 20px;
    }

    .botonconfiguración {
        padding: 3px;
        max-width: 70%;
    }

    .contenedordegraficas {
        margin-top: 120px;
        align-items: center;
        position: absolute;
        max-height: none;
    }

    .contenedordegraficas>canvas {
        max-width: 90%;
        max-height: 50vh;
    }
    .contenedordeproductos{
        max-height: 40vh;
    }
}

@media (max-width:375px) and (max-height: 667px) {
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        flex-direction: row;
        padding: 10px;
        max-width: 75vw;
    }

    .agregarproductos table {
        font-size: 10px;
    }

    .fotoperfil {
        margin-right: 10px;
        margin-left: 10px;
    }

    .compra-venta {
        margin-top: 200px;
        overflow-y: auto;
    }

    .tresinputs,
    .contenedordegraficas,
    .contenedordetitulos,
    .formularioproductos {
        margin-top: 100px;
    }

    .buscador {
        margin-top: 95px;
        max-width: 90vw;
    }

    .contenedordemenu {
        margin-top: 60px;
    }

    .tablabajolostresinputs {
        margin-top: 120px;
    }

    .accion {
        width: 20px;
        height: 20px;
    }

    .contenedoresenmenuprincipal {
        margin-top: 50px;
    }

    .formularios {
        padding: 10px;
        min-height: 60vh;
        overflow-y: auto;

    }

    .contenedordeproductos {
        min-height: 70%;

    }

    .contenedordeganadores {
        min-height: 30vh;
    }

    input,
    select,
    .contenedor>.contenedordesubcontenedores>.subcontenedores>input,
    .contenedor>input {
        max-width: 40vw;
        padding: 3px;
    }

    #ver {
        transform: translate(+60px, -40px);
    }

    .ganadores {
        padding: 3px;
        font-size: 20px;
    }

    .botonconfiguración {
        padding: 3px;
        max-width: 70%;
    }

}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--color-principal), var(--color-secundario));
    border: var(--color-fondo) solid 1px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-fondo);

}



/*ESTILO PARA BOTON DE SUBIR*/
/* From Uiverse.io by vinodjangid07 */
.agregadordeproductos {
    position: relative !important;
    margin-left: 1vw !important;
    bottom: 0px !important;
    right: 0px !important;
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-fondo);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px var(--color-principal);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: absolute;
    right: 2vw;
    bottom: 5vh;
    color: var(--color-principal);
}
/*Para cambair el color al svg de la flechita para subir*/
.button svg path{
    fill: var(--color-secundario) !important;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button:hover {
    width: 70px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: var(--color-fondo);
    border: solid 1px var(--color-principal);
    align-items: center;
}

.button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.button::before {
    position: absolute;
    bottom: -20px;
    content: "Subir";
    color: var(--color-secundario);
    font-size: 0px;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}

/*       //////////////////        */

/*ESTILO PARA BOTON DE LOG OUT*/
/* From Uiverse.io by vinodjangid07 */ 
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: -10%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 10px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }
  /*////////////////////////////////////////*/