body{
    background-color: red;
}
.contenedor{
    background-color: violet;
    display: flex;
    flex-direction: column;
}
.conten{

    background-color: blueviolet;
}
.conten2{
    background-color: cornflowerblue;
}
.contenedorfotos{
    display: flex;
    background-color: blue;
}
.perfil{
    border: solid 1px black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}
img{
    border-radius: 10px;
    height: 22%;
    width: 22%;
}