@font-face {
    font-family: "deadpool";
    src: url("fuente.ttf");
}
video{
    width: 85vw;
    height: 85vh;
}
body{
    background-color: #4DBF38;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 50px;
    font-family: "deadpool";
    color:#001F47;
}