@font-face {
    font-family: "deadpool";
    src: url("PEANUT BUTTER.otf");
}
video{
    width: 85vw;
    height: 85vh;
}
body{
    background-color: pink;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 90px;
    font-family: "deadpool";
}