
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-principal);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: var(--color-principal);
    color: var(--color-fondo);
    position: relative;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
#buscador::placeholder{
    color: var(--color-secundario);
}
#buscador, #filtrodecategoria{
    background-color: var(--color-fondo);
    color: var(--color-secundario);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-secundario);
    font-size: 1rem;
    width: 250px;
    transition: border-color 0.3s ease;
}

#buscador:focus, #filtrodecategoria:focus {
    border-color: var(--color-principal);
    outline: none;
}

.contenedordeproductos {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.producto {
    background-color: var(--color-fondo);
    border: 1px solid var(--color-principal);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    width: 100%;
    height: auto;
    min-height: 150px;
    max-height: 190px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
}

h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.precio {
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color-secundario);
    margin-bottom: 10px;
}

footer {
    background-image: linear-gradient(to top, var(--color-principal),var(--color-fondo));

    text-align: center;
    padding: 20px;
    margin-top: auto;
}
footer p{
    color: var(--color-secundario);
}
footer p a{
    text-decoration: none;
    color: var(--color-secundario);
    transition: 1s
}
footer p a:hover{
    transform: scale(1.5);
    color: var(--color-principal);
}
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--color-principal), var(--color-secundario));
    border: var(--color-fondo) solid 1px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-fondo);
}